=form_tag search_path, :id => "search_form", :class => "eleven columns remove-bottom shift-left" do
	=text_field_tag :search, params[:q], :class => "eleven columns remove-bottom", :name => "q", :placeholder => raw("search &rarr;")
